<a href="https://colab.research.google.com/github/PratyushMaharana/12th-codes/blob/main/cs_12th_codes.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
a=2
b=3
c=4
def si(x,y,z):
  simple=(x*y*z)/100
  print(simple)
si(a,b,c)
a=5
b=8
c=9
si(a,b,c)

0.24
3.6

In [ ]:
def sum():
  num=int(input("enter a number:"))
  total=0
  while num:
    total+=num%10
    num//=10
  print(total)
sum()

enter a number:2345
14

In [ ]:
def sum():
  num=int(input("Enter a number :"))
  total=0
  while num:
    total+=num%10
    num//=10
  print(total)
sum()

Enter a number :3456666666666
72

###** with argument but no return value **

In [ ]:
def sum_digits_type2(num):
    total = 0
    while num:
        total += num % 10
        num //= 10
    print("Sum of digits:", total)

sum_digits_type2(88)

Sum of digits: 16

In [ ]:
def all(num):
  total =0
  while num:
    total+=num%10
    num//=10
  print(total)
all(23456)

20

without argument but return value

In [ ]:
def sum_digits_type3():
    num = int(input("Enter a number: "))
    total = 0
    while num:
        total += num % 10
        num //= 10
    return total

result = sum_digits_type3()
print("Sum of digits:", result)

Enter a number: 23
Sum of digits: 5

In [ ]:
def all():
  num=int(input("enter a number:"))
  total =0
  while num:
    total+=num%10
    num//=10
  return total
result =all()
print(result)

enter a number:2345
14

In [ ]:
p=45
r=43
t=23
def simp():
  z=(p*r*t)/100
  return z
simp()

445.05

In [ ]:
def factorial():
  num=int(input("enter a number:"))
  fac=1
  for i in range(1,num+1):
    fac*=i
  print("factorial",fac)
factorial()

enter a number:23
factorial 25852016738884976640000

In [ ]:
def simp(P,R,T):
  si=(P*R*T)/100
  print("simple inetrest:", si)
simp((float(input(" principal rate:"))),(float(input("rate:"))),(float(input("time:"))))

 principal rate5
rate4
time3
simple inetrest: 0.6

In [ ]:
def evenodd():
  num=int(input("enter a number:"))
  if num%2==0:
    print("even")
  else:
    print("odd")
evenodd()
evenodd()

enter a number:3
odd
enter a number:34
even

In [ ]:
def test(x):
    return x + 5
print(test(10))

15

In [ ]:
def name():
  print("pratyush")
name()

pratyush

In [ ]:
def square(n):
  print("square:",n*n)
square(5)

square: 25

In [ ]:
def add(a, b): return a + b
def sub(a, b): return a - b
def mul(a, b): return a * b

print("1. Add\n2. Subtract\n3. Multiply")
choice = int(input("Enter choice: "))
x = int(input("Enter first number: "))
y = int(input("Enter second number: "))

if choice == 1:
    print("Result:", add(x, y))
elif choice == 2:
    print("Result:", sub(x, y))
elif choice == 3:
    print("Result:", mul(x, y))
else:
    print("Invalid choice")

1. Add
2. Subtract
3. Multiply
Enter choice: 1
Enter first number: 2
Enter second number: 3
Result: 5

In [ ]:
print("1.add\n2.subtract\n3.multiply")

choice = int(input("enter your choice:"))

x = int(input("enter a first number:"))
y = int(input("enter a second number:"))

def add(a,b):return a+b
def sub(a,b):return a-b
def mul(a,b):return a*b

if choice == 1:
  print("result",add(x,y))

elif choice == 2:
  print("result",sub(x,y))

elif choice == 3:
  print("result",mul(x,y))

else:
  print("invalid choice")

1.add
2.subtract
3.multiply
enter your choice:1
enter a first number:2
enter a second number:2
result 4

In [ ]:
import random
def arandom():
  return random.randint(1,100)
num = arandom()
print(num)

91

In [ ]:
a=float(input("enter a number:"))
b=float(input("enter a number:"))
def av(x,y):
  z=(a+b)/2
  return z
sum=av(a,b)
print(sum)

enter a number:4
enter a number:5
4.5

In [ ]:
def even(n):
  if n%2==0:
    print("even")
  else:
    print("odd")
even(float(input("enter a number:")))

enter a number:5
odd

In [ ]:
def count_vowels(text):
    count = 0
    vowels = "aeiouAEIOU"
    for ch in text:
        if ch in vowels:
            count += 1
    return count

string = input('enter a string:')
print("Number of vowels:", count_vowels(string))

def count(text):
  count=0
  vowels="aeiouAEIOU"
  for ch in text:
    if ch in vowels:
      count+=1
  return count
string= input("enter a string:")
print("number of vowels:",count(string))

enter a string:pratyush
Number of vowels: 2
enter a string:eeeeeeeeeeeeeeeeeeeeeeeeeee
number of vowels: 27

In [ ]:
def count(text):
  count=0
  vowels="aeiouAEIOU"
  for ch in text:
    if ch in vowels:
      count+=1
  return count
string=input("enter a string:")
print("number of vowels:",count(string))

enter a string:pratyush
number of vowels: 2

In [ ]:
v=30
for val in range(0,v):
  if val%4==0:
    print(val*4)
  elif val%5==0:
    print(val+3)
  else:
    print(val+10)

0
11
12
13
16
8
16
17
32
19
13
21
48
23
24
18
64
27
28
29
80
31
32
33
96
28
36
37
112
39

In [ ]:
def create_file():
    with open("students.txt", "w") as f:
        n = int(input("Enter number of students: "))
        for _ in range(n):
            roll = input("Roll Number: ")
            name = input("Name: ")
            marks = input("Marks: ")
            f.write(f"{roll},{name},{marks}\n")

def search_by_roll(roll_no):
    found = False
    with open("students.txt", "r") as f:
        for line in f:
            roll, name, marks = line.strip().split(",")
            if roll == roll_no:
                print(f"Found: {name} scored {marks} marks.")
                found = True
                break
    if not found:
        print("Student not found.")

# Menu-driven logic to avoid endless repetition
while True:
    print("\n----- Student File Menu -----")
    print("1. Create student file")
    print("2. Search student by roll number")
    print("3. Exit")
    choice = input("Enter your choice (1/2/3): ")

    if choice == '1':
        create_file()
    elif choice == '2':
        roll_search = input("Enter roll number to search: ")
        search_by_roll(roll_search)
    elif choice == '3':
        print("Exiting program.")
        break
    else:
        print("Invalid choice. Try again.")

----- Student File Menu -----
1. Create student file
2. Search student by roll number
3. Exit
Enter your choice (1/2/3): 1
Enter number of students: 2
Roll Number: 25
Name: 26
Marks: 99
Roll Number: 25
Name: pratyush
Marks: 8

----- Student File Menu -----
1. Create student file
2. Search student by roll number
3. Exit
Enter your choice (1/2/3): 2
Enter roll number to search: 25
Found: 26 scored 99 marks.

----- Student File Menu -----
1. Create student file
2. Search student by roll number
3. Exit
Enter your choice (1/2/3): 3
Exiting program.

In [ ]:
def create_file():
    with open("students.txt", "w") as f:
        n = int(input("Enter number of students: "))
        for _ in range(n):
            roll = input("Roll Number: ")
            name = input("Name: ")
            marks = input("Marks: ")
            f.write(f"{roll},{name},{marks}\n")

def search_by_roll(roll_no):
    found = False
    with open("students.txt", "r") as f:
        for line in f:
            roll, name, marks = line.strip().split(",")
            if roll == roll_no:
                print(f"Found: {name} scored {marks} marks.")
                found = True
                break
    if not found:
        print("Student not found.")

create_file()
roll_search = input("Enter roll number to search: ")
search_by_roll(roll_search)

Enter number of students: 1
Roll Number: 5
Name: opo
Marks: 99
Enter roll number to search: 1
Student not found.

In [ ]:
x="hello world"
print(x[:2], x[:-2], x[-2:])
print(x[6],x[2:4])
print(x[2:3],x[-4:-2])

he hello wor ld
w ll
l or

In [ ]:
y=str(123)
x="hello"*3
print(x,y)
x="hello"+"world"
y=len(x)
print(y,x)

hellohellohello 123
10 helloworld

In [ ]:
a={}
a[(1,2,4)]=8
a[(4,2,1)]=10
a[(1,2)]=12
sum=0
for k in a:
  sum+=a[k]
print(sum)
print(a)

30
{(1, 2, 4): 8, (4, 2, 1): 10, (1, 2): 12}